.wrapper {
    margin: -8px;
    padding: 0;
    flex: 0 0;
    display: flex;
    flex-direction: row;
    position: fixed;
}
// right body
.interact-item {
    margin-top: 3%;
    margin-left: 1.5%;
    height: 100vh;
    width: 28.33%;
}
.me-profile {
    display: flex;
    flex-direction: row;
}
.avatar-me-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.detail-me-profile {
    cursor: pointer;
    &:hover {
        .name-me-profile {
            text-decoration: underline;
        }
    }
}
.name-me-profile {
    font-family: var(--name-font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
    margin-right: 4px;
}
.nickname-me-profile {
    font-family: var(--default-font-family);
    font-size: 14px;
    line-height: 20px;
}
.time-me-profile {
    font-family: var(--default-font-family);
    font-size: 14px;
    line-height: 20px;
}
.btn-Follow {
    position: absolute;
    right: 30px;
    padding: 9px 28px;
}
.title-me-profile {
    font-size: 16px;
    line-height: 22px;
    word-break: break-word;
}
.title-main {
}
.hastag-main {
    font-weight: 600;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
.title-music {
    margin-top: -6px;
    color: rgba(22, 24, 35, 1);
    cursor: pointer;
    font-weight: 600;
    &:hover {
        text-decoration: underline;
    }
}
.interact-profile-display {
    margin-top: 40px;
}
.reaction {
    display: flex;
    flex-direction: row;
}
.reaction-heart {
    cursor: pointer;
    width: 32px;
    height: 32px;
}
.reaction-comment {
    width: 32px;
    height: 32px;
}
.count-heart,
.count-comment {
    color: rgba(22, 24, 35, 0.75);
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    margin-right: 35px;
    margin-top: 3px;
    font-weight: 500;
}
.count-heart {
    cursor: pointer;
}
.count-comment {
    cursor: default;
}

.share {
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: row;
}
//icon share
.icon-share {
    margin-left: 10px;
    cursor: pointer;
}
//
.href-share-item {
    display: flex;
    flex-direction: row;
    color: rgba(22, 24, 35, 0.75);
    font-size: 14px;
    line-height: 20px;
    margin-top: 16px;
    box-sizing: border-box;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 16px;
    width: calc(100% - 35px);
}
.href {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-color: rgba(22, 24, 35, 0.06);
    flex: 1 1 auto;
    padding: 7px 99px 5px 12px;
    background-color: rgba(22, 24, 35, 0.06);
    width: calc(100%);
    cursor: default;
    //disable selected
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.btn-copy {
    position: absolute;
    right: 30px;
    padding: 8px 12px;
    &:hover {
        background-color: white;
    }
}
//comment
.commented-item-display {
    position: relative;
    right: 0px;
    height: calc(100% - 383px);
    padding: 24px 32px;
    background-color: rgb(248, 248, 248);
    border-top: 1px solid rgba(22, 24, 35, 0.2);
    overflow: auto;
    margin-bottom: 10%;
}
.commented-item-display2 {
    margin-bottom: 20px;
}
.commented-item {
    display: flex;
    flex-direction: row;
    &:hover {
        .dot-report {
            position: absolute;
            right: 40px;
            opacity: 1;
            cursor: pointer;
        }
    }
}
.avatar-user-comment {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.user-item {
    margin-right: 60px;
}
.name-user {
    font-family: var(--name-font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
.creator-user {
    font-size: 16px;
    line-height: 25px;
}
.dot-report {
    opacity: 0;
}
.comment-user {
    white-space: pre-wrap; /* preserve whitespace and allow line breaks */
    word-wrap: break-word; /* allow long words to break */
    word-break: break-all; /* break lines only at word boundaries */
}
.reply-item-user {
    color: rgba(22, 24, 35, 0.5);
    font-size: 14px;
    line-height: 20px;
    margin-top: 3px;
}
.time-upload-after {
    margin-right: 30px;
    cursor: resize;
}
.reply-another-user {
    cursor: pointer;
}
.commented-react-heart {
    position: absolute;
    right: 40px;
    cursor: pointer;
    align-items: center;
    color: rgba(22, 24, 35, 0.5);
    font-size: 12px;
    line-height: 17px;
    width: 20px;
    margin-top: 20px;
}
.number-react-heart {
    margin-left: 4px;
}
.view-more-replies {
    margin-top: 15px;
    cursor: pointer;
}
.comment-input-item-display {
    width: 300px;
}
.comment-input-item {
    border-top: 1px solid rgba(22, 24, 35, 0.2);
    background-color: rgb(255, 255, 255);
    padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    // display: flex;
    // flex-direction: row;
}
.area-react {
    position: absolute;
    right: 80px;
    top: 35px;
    display: flex;
    flex-direction: row;
}
.btn-submit-comment {
    color: rgb(254, 44, 85);
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    line-height: 39px;
    text-align: right;
}
.comment-input {
    height: 82px;
    padding: 21px 0px;
    position: relative;
    width: 54vh;
    left: 0;
}
.btn-submit-comment {
    position: absolute;
    right: 0;
    top: 27px;
}
//tippy report
.wrapper-tippy-report {
    font-family: var(--default-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    padding: 8px 16px;
    min-width: 200px;
    min-height: 64px;
    background-color: white;
}
.title-report {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 0px;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    &:hover {
        color: rgb(254, 44, 85);
    }
}
