.btn-submit-discard {
    padding: 23px 54px;
}

.wrapper {
    width: 400px;
    height: 253px;
    background-color: white;
    padding-top: 22px;
    border-radius: 5px;
}
.title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: rgb(22, 24, 35);
    word-break: break-word;
}
.text {
    padding: 0px 32px;
    font-weight: 400;
    font-size: 15px;
    color: rgba(22, 24, 35, 0.75);
    text-align: center;
    margin-top: -20px;
}
.btn-discard {
    padding: 23px 140px;
    margin: -20px 0px 7px 32px;
}
.btn-edit {
    padding: 23px 106px;
    margin: 0 32px;
}
