.btn-report {
    position: absolute;
    top: 20px;
    right: 35px;
}
.popup-wrapper {
    width: 700px;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
}
.header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 24px 24px 16px;
    height: 72px;
}
.title-header {
    font-size: 20px;
    line-height: 32px;
    color: rgb(22, 24, 35);
    font-family: var(--default-font-family);
    font-weight: 700;
    text-align: left;
    flex: 1 1 0%;
}
.icon-header {
    cursor: pointer;
    padding: 9px;
    height: 32px;
}
.body {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    overflow: hidden auto;
    padding: 16px 16px 0px;
    height: 50vh;
}
.title-body {
    padding-bottom: 8px;
    padding-left: 8px;
    color: rgba(22, 24, 35, 0.75);
    height: 22px;
    line-height: 22px;
}
.label-wrapper {
    box-sizing: border-box;
    min-height: 54px;
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    word-break: break-all;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 8px;
    border-radius: 8px;
}
.title {
    color: rgb(22, 24, 35);
    line-height: 22px;
    font-size: 16px;
    user-select: none;
}
.btn {
    color: rgba(22, 24, 35, 0.5);
    transform: rotate(-90deg);
}
