.icon-item {
    cursor: pointer;
    width: 32px;
    height: 32px;
}
.count-heart {
    color: rgba(22, 24, 35, 0.75);
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    margin-right: 35px;
    margin-top: 3px;
    font-weight: 500;
    cursor: pointer;
}
