.wrapper {
    position: relative;
    left: 35%;
    padding-right: 20%;
    top: 44px;

    @media screen and (max-width: 768px) {
        left: 6%;
        .btn-follow {
            left: 45%;
            scale: 80%;
        }
        .description {
            padding-right: 33%;
        }
    }
}
