.btn-sound-display {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    right: 35px;
}
.btn-sound {
    border: none;
    background: none rgba(84, 84, 84, 0.5);
    outline: none;
    padding: 0px;
    display: flex;
    transition: opacity 0.3s ease 0s;
    cursor: pointer;
    line-height: 0;
    border-radius: 9999px;
    min-width: 0px;
    &:hover {
        opacity: 0.7;
    }
}
//video left body
.video-item {
    width: 71.67%;
    height: 100vh;
    &:hover {
        //timeline
        .display-progress {
            opacity: 1;
            position: relative;
            top: 95%;
            left: 33%;
            height: 4px;
            width: 31%;
            background-color: rgba(255, 255, 255, 0.34);
            transition: opacity 0.4s ease 0s;
            z-index: 99;
            cursor: pointer;
        }
        .progress-bar {
            opacity: 1;
            height: 4px;
            cursor: pointer;
            transition: opacity 0.4s ease 0s;
            z-index: 99;
        }
        .progress {
            opacity: 1;
            height: 100%;
            background-color: rgb(255, 255, 255);
            transition: opacity 0.4s ease 0s;
            z-index: 99;
            cursor: pointer;
        }
        .formmat-time {
            opacity: 1;
            position: relative;
            margin-top: -14px;
            left: 104%;
            font-size: 14px;
            line-height: 24px;
            color: rgb(255, 255, 255);
            white-space: nowrap;
            font-family: var(--time-font-family);
            transition: opacity 0.4s ease 0s;
            z-index: 99;
            cursor: pointer;
        }
    }
}
.video {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.74);
    cursor: pointer;
}
.item-interact-video {
    position: absolute;
    width: 70.67%;
    height: 100%;
}
.close-video {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgba(84, 84, 84, 0.5);
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    top: 20px;
    transition: opacity 0.3s ease 0s;
    left: 20px;
    &:hover {
        opacity: 0.7;
    }
}
.image-logo-style {
    position: absolute;
    z-index: 1;
    top: 20px;
    border-radius: 100px;
    left: 84px;
}
.image-logo {
    width: 40px;
    height: 40px;
}
.btn-report {
    position: absolute;
    top: 20px;
    right: 35px;
}
.change-video-up {
    position: absolute;
    z-index: 1;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgba(84, 84, 84, 0.5);
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    top: calc(50% - 48px);
    margin-top: -54px;
    right: 35px;
    &:hover {
        opacity: 0.7;
    }
}
.change-video-down {
    position: absolute;
    z-index: 1;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgba(84, 84, 84, 0.5);
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    top: calc(50% - 48px);
    right: 35px;
    &:hover {
        opacity: 0.7;
    }
}
.icon-play {
    position: fixed;
    top: 42%;
    left: 35%;
}
//timeline
.formmat-time,
.display-progress,
.progress-bar,
.progress {
    opacity: 0;
}
