//home
.wrapper-all {
    height: 100vh;
    position: relative;
    left: 37%;

    @media screen and (max-width: 768px) {
        left: 0%;
        .btn-follow {
            left: 55%;
        }
        .description {
            padding-right: 33%;
        }
    }
}

.getApp-btn {
    font-family: var(--default-font-family);
    position: fixed;
    min-width: 90px;
    height: 32px;
    top: 95.4%;
    right: 20px;
    border-radius: 52px;
    font-size: 14px;
    font-weight: 600 !important;
    color: rgba(22, 24, 35, 0.75);
    border: 0.5px solid rgba(22, 24, 35, 0.12);
    margin-bottom: 4px;
    margin-right: 5px;
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        // text-decoration: underline;
    }
}

//videoItem
.wrapper {
    margin-left: -5px;
    padding: 44px 0 20px 41px;
    margin-right: -113px;
}

.position {
    display: flex;
}
.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    cursor: pointer;
    padding: 4px;
}

.content {
    display: flex;
}
.id_nickname {
    display: inline-flex;
    width: 510px;
    margin: -18px 8px;
}
.id {
    font-family: var(--name-font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
    margin-right: 4px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}
.tick {
    margin-top: 23px;
    color: #20d5ec;
    height: 14px;
    width: 14px;
}
.nickname {
    font-weight: 400 !important;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    line-height: 28px;
    margin-left: 6px;
}

.btn {
    margin-top: -50px;
}

.btn-follow {
    height: 28px;
    font-size: 16px;
    left: 46%;
    position: relative;
}

.description {
    width: 510px;
    display: block;
    padding-left: 67px;
    margin-top: -15px;
    font-size: 16px;
    font-weight: 400 !important;
}

.hashtag {
    cursor: pointer;
    margin-left: 3px;
    &:hover {
        text-decoration: underline;
    }
}
.music-tag {
    margin: 5px 67px 0px;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.position-fix {
    display: flex;
}
.interact {
    align-items: flex-end;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    left: -23.8%;
}

.btn-interact {
    padding-bottom: 40px;
    padding-top: 40px;
    &:hover {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.icon-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    font-size: 15px;
    border-radius: 50%;
    transition: all 200ms ease-in-out 0s;
    background-color: rgba(22, 24, 35, 0.06);
    margin-top: 8px;
    margin-bottom: 6px;
    color: black;
}

.count-item {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 62px;
    margin-left: -28px;
    color: rgba(22, 24, 35, 0.75);
    font-size: 12px;
    text-align: center;
}

.hr-item {
    height: 1px;
    border-color: rgba(22, 24, 35, 0.12);
    margin: 47px 20px -49px 10px;
    width: 54.5%;
}

//videoPlayer

.scroll-btn {
    position: absolute;
    border: 1px solid blue;
    width: 300px;
    height: 100px;
    top: 750px;
    right: 15px;
    color: #000;
    cursor: pointer;
}

.video-play {
    margin-left: 35px;
    margin-top: 10px;
    border-radius: 10px;
    width: 55% !important;
    height: 100% !important;
}
