//Menu Wrapper
.menu-list {
    width: 224px;

    .menu-item {
        margin-left: 0;
        width: 100%;
        justify-content: flex-start;
        border-radius: 0;
        font-weight: 600;
        padding: 21px 16px;
        line-height: 1.8rem;

        &.separate {
            border-top: 1px solid rgba(22, 24, 35, 0.12);
        }

        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }
    }
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 599px;
}

.menu-share {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    max-height: 280px;
    max-width: 280px;
}

.icon-more-share {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 3px 46%;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.menu-share-more {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 448px;
    max-width: 280px;
}

//Header Item
.header {
    display: flex;
    align-items: center;
    position: relative;
    flex-shrink: 0;
    width: 223px;
    height: 50px;
    padding: 0 24px;
}
.back-btn {
    font-weight: 600;
    font-size: 15px;
    position: absolute;
    background-color: transparent;
    color: rgb(22, 24, 35);
    cursor: pointer;
}
.header-title {
    font-weight: 700;
    font-size: 14px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #161823;
}
