.wrapper {
    position: fixed;
    min-width: 13.6%;
    max-height: 100vh;
    padding: 32px 24px;
    margin: 0;
    @media screen and (max-width: 768px) {
        position: fixed;
        left: 13.6%;
    }
}
.profile-item {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.avatar {
    width: 116px;
    height: 116px;
    border-radius: 50%;
}
.title-container {
    flex: 1 1 0%;
    cursor: pointer;
    overflow: visible;
    margin-left: 20px;
}
.name {
    position: relative;
    font-family: var(--name-font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin: 0;
    padding: 2px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.nickname {
    font-family: var(--default-font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-overflow: ellipsis;
    height: 25px;
    overflow: hidden;
    max-width: 450px;
    white-space: nowrap;
    display: flex;
    align-items: flex-end;
    margin-top: 5px;
    margin-left: 1px;
}
.outline-editProfile {
    width: 136px;
    height: 36px;
    padding: 0px;
    margin: 16px 0px 0px;
}
.btn-after-follow {
    display: inline-flex;
}
.message {
    padding: 12px 45px;
}
.unfollow {
    margin-left: 10px;
}
.unfollow-btn {
    min-width: 0;
    min-height: 0;
    padding: 9px 7px;
}

.btn-editProfile {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    min-height: 36px;
    font-weight: 700;
    font-size: 18px;
    font-family: var(--name-font-family);
    position: relative;
    cursor: pointer;
    padding: 0px 16px;
    min-width: 208px;
    text-align: center;
}
.btn-text {
    margin-top: 4px;
    margin-left: 3px;
}
.statistical {
    color: rgba(18, 18, 18, 0.75);
    display: flex;
    flex-direction: inherit;
}
.statistical-item {
    color: rgb(22, 24, 35);
    font-family: var(--name-font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    direction: ltr;
    align-items: baseline;
    position: relative;
    top: 50%;
}
.number-following,
.number-followers,
.number-like {
    margin-left: 10px;
}
.following,
.followers,
.like {
    color: rgba(22, 24, 35, 0.75);
    font-family: var(--default-font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
    margin-left: 6px;
}
.bio {
    color: rgb(22, 24, 35);
    font-family: var(--default-font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    white-space: pre-line;
    margin-left: 10px;
    margin-top: -10px;
}
.btn-share {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 11px;
    cursor: pointer;
    margin-left: 22px;
    left: 25%;
}
.tab {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 460px;
    height: 44px;
    margin-bottom: 8px;
    margin-left: 10px;
}
.tab-noClick {
    font-family: var(--name-font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0%;
    height: 44px;
    cursor: pointer;
    text-align: center;
    color: rgba(22, 24, 35, 0.5);
}
.tab-Click {
    font-family: var(--name-font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0%;
    height: 44px;
    cursor: pointer;
    text-align: center;
    color: rgb(22, 24, 35);
}
.transform-animation {
    position: absolute;
    width: 230px;
    height: 2px;
    background: rgb(22, 24, 35);
    left: 0px;
    bottom: -9%;
    transition: transform 0.2s ease 0s;
    margin-left: 35px;
}
.videos-item {
    position: fixed;
    margin-top: 10%;
    margin-left: 70px;
    right: 37%;
}
.obtainer {
    display: flow-root;
    justify-content: center;
    text-align: center;
    position: relative;
}
.meVideo {
    position: fixed;
    margin-top: 70px;
    margin-left: 10px;
}
.line-1,
.lineNotFound-1 {
    font-size: 24px;
    line-height: 28px;
    font-family: var(--name-font-family);
    font-weight: 700;
    color: rgb(22, 24, 35);
}
.line-2,
.lineNotFound-2 {
    font-size: 16px;
    line-height: 22px;
    font-family: var(--default-font-family);
    font-weight: 400;
    color: rgba(22, 24, 35, 0.75);
    margin-top: 8px;
}
.obtainer-notFound {
    display: flow-root;
    justify-content: center;
    text-align: center;
    position: relative;
    left: 20%;
    margin-left: 80px;
}
