.search,
.search-result {
    width: 361px;

    overflow-y: hidden;
}

.search {
    position: relative;
    height: var(--search-height);
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    display: flex;
    padding-left: 16px;
    border: 1.5px solid transparent;
    margin-left: 200px;
    font-family: var(--default-font-family);

    input {
        font-size: 16px;
        color: var(--black);
        background-color: transparent;
        height: 100%;
        flex: 1;
        caret-color: var(--primary);
        padding-right: 40px;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        height: 28px;
        width: 1px;
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.loading {
    padding: 0px 5px;
    animation: spinner 0.8s linear infinite; //spinner dynamic
}

@keyframes spinner {
    ///spinner dynamic
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-title {
    font-size: small;
    padding: 5px 12px;
    font-weight: bold;
    color: rgba(22, 24, 35, 0.5);
}

.search-btn {
    width: 52px;
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    background-color: transparent;
    color: #2829302f;
    font-size: 1.8rem;
    &:hover {
        background-color: transparent;
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
