.avatar-me-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.detail-me-profile {
    cursor: pointer;
    &:hover {
        .name-me-profile {
            text-decoration: underline;
        }
    }
}
.name-me-profile {
    font-family: var(--name-font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
    margin-right: 4px;
}
.nickname-me-profile {
    font-family: var(--default-font-family);
    font-size: 14px;
    line-height: 20px;
}
.time-me-profile {
    font-family: var(--default-font-family);
    font-size: 14px;
    line-height: 20px;
}
