.wrapper {
    position: relative;
    width: 320px;
    height: 171px;
    box-sizing: border-box;
    padding: 20px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    border-radius: 8px;
    font-weight: 0 !important;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}
.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.btn-follow{
    width: 106px;
    height: 34px;
}
.item-info {
    
}
.nickname {
    color: rgb(22, 24, 35);
    font-family: var(--name-font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
}
.check {
    font-size: 1.4rem;
    color: #20d5ec;
    padding: 3px 4px;
}
.name {
    color: rgb(22, 24, 35);
    font-family: var(--default-font-family);
    font-weight: 600;
    font-size: 14px;
     line-height: 20px;
}
.analytics {
    margin-top: 0px;
}
.following-number {
    font-weight: 700;
    margin-right: 6px;
    font-size: 17px;
    line-height: 20px;
    display: inline-block;
}
.following {
    margin-right: 12px;
    color: rgba(22, 24, 35, 0.75);
    font-size: 17px;
    line-height: 20px;
    display: inline-block;
    font-weight: 400 !important;
}
.Like-number {
    font-weight: 700;
    margin-right: 6px;
    font-size: 17px;
    line-height: 20px;
    display: inline-block;
}
.Like {
    color: rgba(22, 24, 35, 0.75);
    font-size: 17px;
    line-height: 20px;
    display: inline-block;
    font-weight: 400 !important;
}
