.wrapper {
    width: 358px !important;
    padding: 20px 0 26px 0px;
    overflow:auto;
    height:100vh;
}

.wrapper-login{
    color: rgba(22, 24, 35, .5);
    font-size: 16px;
    line-height: 22px;
    margin-left: 10px;
}

.hr-item {
    height: 1px;
    border-color: rgba(22, 24, 35, .12);
    margin-left: 8px;
    margin-right: 28px;
}